#!/bin/bash

tenancyId="ocid1.tenancy.oc1.xxxx"
authUserId="ocid1.user.oc1.xxxx"
compartmentId="ocid1.compartment.oc1.xxxx"
dbSystemId="ocid1.dbsystem.oc1.xxxx"
databaseId="ocid1.database.oc1.xxxx"
dbHomeId="ocid1.dbhome.oc1.xxxx"

keyFingerprint="xx:xx:xxxxx"
privateKeyPath="key.pem"
user="xxxx"
password="xxxx"
idcs="idcs-xxxx"